h1 {
    color: purple;
    text-align: center;
  }

  .ul{
      text-align: center;
      
  }

  .li {
      
      display: inline;
      padding: 5px;
      
      
  }
  
  h2{
      text-align: center;
      color:pink;
  }

  h3{

    text-align: center;


  }

  .image-div {
    
    max-width: 10px; /* Maksimum genişlik ayarı */
    margin: 350px; /* Yatayda ortala */
    align-items: center;
  

}








    
        
    

    




 

